  <sb-view-container
    [columnNames]="columnNames"
    [actions]="actions"
    [inputData]="inputData"
    [topActionButtons]="topActions"
    [columnNameToDisplayOnDelete]="columnNameToDisplayOnDelete"
    (getPagingEmit)="getPaging($event)"
    pageSizeOptions="[5, 10, 25, 100]"
    length="100"
    pageSize="10"
  >
    <sb-mat-form-field
      formName="Teste"
      placeHolder="teste placeHolder"
      class="filters"
    ></sb-mat-form-field>
    <sb-mat-form-field
      formName="Teste"
      placeHolder="teste placeHolder"
      class="filters"
    ></sb-mat-form-field>
    <sb-mat-form-field
      formName="Teste"
      placeHolder="teste placeHolder"
      class="filters"
    ></sb-mat-form-field>
    <sb-mat-form-field
      formName="Teste"
      placeHolder="teste placeHolder"
      class="filters"
    ></sb-mat-form-field>
  </sb-view-container>
