  <sb-view-container
    [columnNames]="columnNames"
    [actions]="actions"
    [inputData]="inputData"
    [topActionButtons]="topActions"
  >
    <sb-mat-form-field
      formName="Teste"
      placeHolder="teste placeHolder"
      class="filters"
    ></sb-mat-form-field>
    <sb-mat-form-field
      formName="Teste"
      placeHolder="teste placeHolder"
      class="filters"
    ></sb-mat-form-field>
    <sb-mat-form-field
      formName="Teste"
      placeHolder="teste placeHolder"
      class="filters"
    ></sb-mat-form-field>
    <sb-mat-form-field
      formName="Teste"
      placeHolder="teste placeHolder"
      class="filters"
    ></sb-mat-form-field>
  </sb-view-container>
