<ng-template #first>
  Conteúdo da primeira aba!
  <button mat-button (click)="closeDialog()">Fechar Modal</button>
</ng-template>
<ng-template #second>
  Conteúdo da segunda aba!
</ng-template>
<ng-template #third>
  Conteúdo da terceira aba!
</ng-template>
<sb-view-edit-container [templates]="[['primeiro', first], ['segundo', second], ['terceiro', third]]"
  [showCancelButton]="showCancelButton" [showConfirmButton]="showConfirmButton" [cancelLabel]="cancelLabel" confirmLabel="Confirmar"
  >
</sb-view-edit-container>
