<div class="principal-container">
  <sb-toastr-notification></sb-toastr-notification>
  <sb-header
    logoImgSrc="assets/img/logo-minimal-subway-branco@2x.png"
    appName="Teste"
    sbHasSideNav
    sbHasNotification
    [showCheckAllButton]="true"
  >
    <!-- <sb-notification badgeBorderColor="#008938" style="margin-right: 160px" ></sb-notification> -->
    <!-- <button mat-button [matMenuTriggerFor]="changeColor">
      Alterar Cor
    </button> -->
    <sb-notification badgeBorderColor="#008938"></sb-notification>
    <mat-menu #changeColor="matMenu">
      <div style="width: 150px;">
        <mat-grid-list cols="2">
          <mat-grid-tile>
            <button
              mat-menu-item
              class="button-change-color"
              fxLayout
              fxLayoutAlign="center center"
              (click)="changeColorTheme('')"
            >
              <div class="circle-base circle-white"></div>
            </button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button
              mat-menu-item
              class="button-change-color"
              fxLayout
              fxLayoutAlign="center center"
              (click)="changeColorTheme('dark')"
            >
              <div class="circle-base circle-dark"></div>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-menu>
  </sb-header>
  <sb-side-nav class="sb-sidenav" [isRenderSidenav]="mostrarMenus">
    <div class="sb-sidenav-menus">
      <mat-nav-list class="mat-list-base">
        <div>
          <div
            [class.link-active]="rlaDashboard.isActive"
            class="link-inactive"
          ></div>
          <a
            mat-list-item
            [routerLink]="['']"
            routerLinkActive
            #rlaDashboard="routerLinkActive"
            [routerLinkActiveOptions]="{ exact: true }"
            class="mat-nav-list-individual"
          >
            <span *ngIf="isExpanded || isShowing">Company</span>
          </a>
        </div>
      </mat-nav-list>
      <mat-accordion displayMode="flat" [hideToggle]="isHideToggle">
        <mat-expansion-panel class="sidenav-expansion-panel">
          <mat-expansion-panel-header
            [expandedHeight]="expandHeight"
            [collapsedHeight]="collapseHeight"
          >
            <mat-panel-title>
              <span *ngIf="isExpanded || isShowing">Cadastro</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list *ngIf="isExpanded || isShowing" class="mat-list-base">
            <div>
              <div
                [class.link-active]="rlaEmpresa.isActive"
                class="link-inactive"
              ></div>
              <a
                mat-list-item
                routerLinkActive
                #rlaEmpresa="routerLinkActive"
                [routerLink]="['/dashboard']"
              >
                Dashboard
              </a>
            </div>
            <a mat-list-item>Usuário</a>
            <a mat-list-item>Perfil de Usuário</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="sb-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </sb-side-nav>
</div>
